*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 13;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  font-size: 13px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  width: 100%;
  height: 20vhx;
}
header nav{
  display: flex;
  justify-content: flex-end;
}
header nav .item-nav-bar{
  width: 100%;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
nav .item-nav-bar a{
  margin-right: 10px;
  color: #000000;
}
nav .item-nav-bar .menu-icon{
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
nav .item-nav-bar img{
  border-radius: 50%;
  margin-left: 10px;
}
main{
  margin-top: 150px;
  place-items: center;
  text-align: center;
  width: 100%;
  height: 70vh;
}

main .main-logo{
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .main-logo img{
  width: 30vw;
}
main .main-input{
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
main .main-input-container{
  width: 45vw;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-input input{
  width: 40vw;
  height: 40px;
  border: none;
  outline: none;
}
main .main-input-container:hover{
  box-shadow:0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}
main .main-input .search-icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}
main .main-input .micro-icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
main .main-buttons{
  width: 50vw;
  margin: 0 auto;
}
main .main-buttons div{
  display: inline-block;
}
main .main-buttons button{
  height: 36px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  color:#5f6368;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
}
main .main-buttons button:hover{
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px #000010b9;
  color: #222;
}
/* .p-mail{
  display: flex;
  justify-content: center;
} */
footer {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 13px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer ul{
  margin: 10px;
  list-style: none;
  padding-left: 0;
  display: flex;
}
footer.left-menu-footer{
  justify-self: left;
}
footer .rigth-menu-footer{
  justify-self: right;
}
footer ul li a{
  margin: 10px;
  color: #5f6368;
}
@media screen and (max-width: 750px) {
  main .main-buttons{
    width: max-content(100px);
    display: inline;
    justify-content: center;
  }
  main .main-input input{
    width: 230px;
    display: flex;
  }
  main .main-input-container{
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
  }
}